@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --linear-grad:linear-gradient(50deg, red, #8b0000);
    --grad-clr1: red;
    --grad-clr2: #8b0000;
}

/*--------
*Desktop login
--------*/
.desktop{
    
        height: 100vh;
    background-color: white;
        /* background: url(images/backgroundtryout.png);
        background-position: center;
        background-size: cover; */
        display: grid;
        place-content: center;
        font-family: 'Poppins', sans-serif;
    
}

.desktop .container{
    position: relative;
    width: 850px;
    height: 500px;
    background: white;
box-shadow: 25px 30px 55px #5557;
border-radius: 13px;
overflow: hidden;

}
.desktop .form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.desktop .sign-up-container{
    opacity: 0;
    z-index: 1;
}


.desktop .sign-in-container{
    z-index: 2;
}
.desktop form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.desktop h1{
    color: var(--grad-clr1);

}



.desktop .social-container{
   margin: 20px 0px;

}
.desktop .social-container a{
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}


.desktop span{
    font-size: 12px

}

.desktop .infield{
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

.desktop input{
    width: 100%;
    padding:12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;

}

.desktop label{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

input:focus ~ label {
    width: 100%;
}
.desktop a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}



.desktop a.forgot{
    padding-bottom: 3px;
    border-bottom: 2px solid #EEE;
}

.desktop button{
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.desktop .form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}

.desktop .form-container button:hover{
    background: white;
    color: var(--grad-clr1);
}

.desktop .sign-up-container button{
    margin: 0;
}

.desktop .sign-up-container input{
    margin: 0;
}

.desktop .overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 9;

}

.desktop #overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20px;
}
.desktop .overlay{
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.desktop .overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: .6s ease-in-out;
}

.desktop .overlay-left{
    right: 60%;
    transform: translateX(-12%);
}
.desktop .overlay-right{
    right: 0;
    transform: translateX(0%);
}

.desktop .overlay-panel h1{
color: #FFF;
}
.desktop p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 25px 0px 35px;
}

.desktop .overlay-panel button{
    border: none;
    background-color: transparent;

}

.desktop .right-panel-active .overlay-container{
    transform: translateX(-150%);
}

.desktop .right-panel-active .overlay{
    transform: translateX(50%);
}
.desktop .right-panel-active .overlay-left{
    transform: translateX(25%);
}

.desktop .right-panel-active .overlay-right{
    transform: translateX(35%);
}

.desktop .right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.desktop .right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show .6s;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number]{
    -moz-appearance: textfield;
}

/* SIGN UP PASSWORD VALIDATOR*/




.desktop .sign-up-container span{
    margin: 0;
}

.desktop .sign-up-container input{
    padding:9px 13px;

}

.desktop .sign-up-container .passworddraw{
    padding-right:50px;

}

.desktop .sign-up-container .social-container a{
    height: 30px;
    width: 30px;
}

.desktop .sign-up-container .password .password-content{
   width: 210px;
   height: auto; 
    background-color: white;
margin: 5px;    
border-radius: 10px; 
padding-left: 10px;
display: none;
}


.desktop .sign-up-container .password .password-content p,.desktop .sign-up-container .password .password-content .requirement-list,.desktop .sign-up-container .password .password-content .requirement-list li span{
    font-size: 10px;
}


.desktop .sign-up-container .infield .password-content p{
    color: red;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 900;
}

.desktop .sign-up-container .infield .password-content .requirement-list{
    margin-top: 10px;
}

.desktop .sign-up-container .infield .password-content .requirement-list li{
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.desktop .sign-up-container .infield .password-content .requirement-list li i{
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
}

.desktop .sign-up-container .infield .password-content .requirement-list li.valid i{
/*     color: #4285f4;
 */

color: red;
}

.desktop .sign-up-container .infield .password-content .requirement-list li span{
    margin-left: 12px;
    color: #333;
}

.desktop .sign-up-container .infield .password-content .requirement-list li.valid span{
    color: #999;
}


.desktop .sign-up-container .infield.password .back{
    display: none;
}

.desktop .sign-up-container .infield.password {
    transition:  transform .7s linear;
    
}


.desktop .sign-up-container .infield.password .showPass{
position: absolute;
right: 10px;
top: 30%;
cursor: pointer;
color: rgb(147, 145, 145);
display: none;

}


.desktop .sign-up-container   .infield.password.move{
    position: absolute;
border-radius: 10px;
height: 300px;
width: 400px;
padding-top: 20px;
margin-top: 100px;
background: white;
transform: translateY(-50px);
transition:  all .7s ease-in-out;
/* animation: password forwards;
animation-duration: .7s; */

}
.desktop .sign-up-container .infield.password.move .fa-check{
    position: absolute;
    top: 30px;
}

.desktop .sign-up-container   .infield.password.move .showPass{
    position: absolute;
    top: 30px;
    display: none;

}


.desktop .sign-up-container .infield.password.move .password-content{
    display: block;
}

.desktop .sign-up-container .infield.password.move .back{
    display: block;
    position: absolute;
    left: -40px;
    top:25px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}


.desktop .sign-up-container .infield .fa-check{
    position: absolute;
    top: 10px;
    right: -30px;
    background:var(--linear-grad);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    display: none;
    transition: display .6s ease-in-out;
}


.desktop .sign-in-container .infield.password input{
    padding-right: 35px;
}

.desktop .sign-in-container .infield.password .showPass{
    position: absolute;
    right: 10px;
    top: 30%;
    cursor: pointer;
    color: rgb(147, 145, 145);
    display: none;
    }

/* .desktop .sign-up-container .phone input{
    padding-left: 54px;
  } */

.desktop .sign-up-container .phone span{
    position: absolute;
    color: black;
    font-weight: 700;
font-size: inherit;
top: 7px;
margin-right: 2px;
left: 10px;
padding-right: 3px;
border-right: 2px solid silver;
display: none;
transition: display .7s;
} 



/*
*MOBILE LOGIN
*/

.mobile{
    height: 100vh;
    background-color: white;
display: none;

        place-content: center;
        font-family: 'Poppins', sans-serif;
        
}

.mobile .Mocontainer{
    position: relative;
   /*  width: 300px;
    height: 500px; */
    width: 90vw;
    height: 90vh;
    background: white;
box-shadow: 25px 30px 55px #5557;
border-radius: 13px;
overflow: hidden;
display: flex;
flex-direction: column-reverse;

}

.mobile .Mocontainer .signs-container{
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    /* animation: move3 forwards;
animation-duration: .5s;
animation-delay: .5s;
transition: animation .6s ease-out; */
}

.mobile .form-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
overflow: hidden;
position: absolute;
}
/* .mobile .sign-in-container{
    animation: move2 forwards;
animation-duration: .5s;
animation-delay: .5s;
z-index: 2;
top: 10000px;
padding-top: 30px;
transition: .6s;

}
.mobile .sign-up-container{
    animation: move1 forwards;
animation-duration: .5s;
animation-delay: .5s;
transition: .6s;

} */

.mobile .sign-up-container{
    animation: move2 forwards;
animation-duration: .5s;
animation-delay: .5s;
z-index: 2;
top: 10000px;
padding-top: 30px;
transition: .6s;

}
.mobile .sign-in-container{
    animation: move1 forwards;
animation-duration: .5s;
animation-delay: .5s;
transition: .6s;

} 


.mobile .sign-up-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mobile .sign-in-container form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mobile .signs-container .form-container span{
    font-size: 12px;
}


.mobile .sign-up-container h1{
    font-size: 20px;
    margin-top: 20px;


}

.mobile .signs-container .form-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
border: 2px solid rgb(206, 205, 205);

}



.mobile .infield{
    position: relative;
    margin: 8px 0px;
    width: 80%;
    margin-inline: auto;
}

.mobile input{
    width: 100%;
    margin-inline: auto;
    padding:12px 15px;
    background-color: #f3f3f3 ;
    border: none;
    outline: none;

}

.mobile label{
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translateX(-40%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

.mobile input:focus ~ label {
    width: 100%;
}

.mobile button{
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: white;
    font-size: 12px;
    font-weight: bold;
display: flex;    
justify-content: center;
align-items: center;
padding: 10px;
letter-spacing: 1px;
    text-transform: uppercase;
}
.mobile .form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}

.mobile .form-container button:hover{
    background: white;
    color: var(--grad-clr1);
}


.mobile a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

.mobile .sign-in-container  a.forgot{
border: 0;
width: min-content;
outline: 0;
white-space: nowrap;
    padding-bottom: 3px;
text-decoration: none;
    border-radius: 0;
    border-bottom: 1px solid #333;

}


.mobile .Mocontainer .overlay-container{
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 20%;
background-color: red;
position: absolute;
z-index: 1000;
}

.mobile .Mocontainer .overlay-container .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile .Mocontainer .overlay-container .overlay h1{
    color: white;
    font-size: 15px;
}
.mobile .Mocontainer .overlay-container .overlay p{
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.mobile .Mocontainer .overlay-container .overlay .overlay-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mobile .Mocontainer .overlay-container .overlay-panel button{
    border-color: white;
    background-color: transparent;
}

/* .mobile .Mocontainer .overlay-container .overlay .overlay-right{
    top: 200px;
animation: mover forwards;
animation-duration: .5s;
animation-delay: 1s;
transition: .6s;
}


.mobile .Mocontainer .overlay-container .overlay .overlay-left{
    animation: mover1 forwards;
    animation-duration: .5s;
    animation-delay: 1s;
    transition: .6s;
    } */



    .mobile .Mocontainer .overlay-container .overlay .overlay-left{
        margin-top: 12px;
        top: 200px;
    animation: mover forwards;
    animation-duration: .5s;
    animation-delay: 1s;
    transition: .6s;
    }
    
    
    .mobile .Mocontainer .overlay-container .overlay .overlay-right{
        animation: mover1 forwards;
        animation-duration: .5s;
        animation-delay: 1s;
        transition: .6s;
        }


.mobile .Mocontainer .overlay-container .overlay #overlayBtnMo{
    position: absolute;
    top: 73px;
    border-radius: 20px;
    width: 72px;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight: bold;
display: flex;    
justify-content: center;
align-items: center;
height: 45px;
z-index: 4;
cursor: pointer;
}

.mobile .sign-up-container .passworddraw{
    padding-right:50px;

}


/* .mobile .right-panel-active .sign-in-container{
    transform: translateY(-10000px);
    opacity: 1;
}

.mobile .right-panel-active .sign-up-container{
    transform: translateY(10000px);
    opacity: 0;
} */

.mobile .right-panel-active .sign-up-container{
    transform: translateY(-10000px);
    opacity: 1;
}

.mobile .right-panel-active .sign-in-container{
    transform: translateY(10000px);
    opacity: 0;
}

.mobile .sign-up-container .phone span{
    position: absolute;
    color: black;
    font-weight: 700;
font-size: inherit;
top: 10px;
margin-right: 2px;
left: 10px;
padding-right: 3px;
border-right: 2px solid silver;
display: none;
transition: display .7s;
} 


/* .mobile .right-panel-active .overlay-container .overlay-right{
    transform: translateY(-184px);

}

.mobile .right-panel-active .overlay-container .overlay-left{
    transform: translateY(200px);
    opacity: 0;

} */


.mobile .right-panel-active .overlay-container .overlay-left{
    transform: translateY(-184px);

}

.mobile .right-panel-active .overlay-container .overlay-right{
    transform: translateY(200px);
    opacity: 0;

}

.mobile .sign-up-container .infield .fa-check{
    position: absolute;
    top: 10px;
    right: -30px;
    background:var(--linear-grad);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    display: none;
    transition: display .6s ease-in-out;
}


.mobile .sign-up-container .password .password-content{
    width: 210px;
    height: auto; 
     background-color: white;
 margin: 5px;    
 border-radius: 10px; 
 padding-left: 10px;
 display: none;

 }
 
 
 .mobile .sign-up-container .password .password-content p,.mobile .sign-up-container .password .password-content .requirement-list,.mobile .sign-up-container .password .password-content .requirement-list li span{
     font-size: 10px;
 }
 
 
 .mobile .sign-up-container .infield .password-content p{
     color: red;
     font-size: 1rem;
     text-transform: uppercase;
     padding-bottom: 10px;
     border-bottom: 1px solid black;
     text-align: center;
     font-weight: 900;
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo{
     margin-top: 10px;
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo li{
     list-style: none;
     font-size: 1.3rem;
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo li i{
     width: 20px;
     color: #aaa;
     font-size: 0.6rem;
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo li.valid i{
 /*     color: #4285f4;
  */
 
 color: red;
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo li span{
     margin-left: 12px;
     color: #333;
 }
 
 .mobile .sign-up-container .infield .password-content .requirement-listMo li.valid span{
     color: #999;
 }
 
 
 .mobile .sign-up-container .infield.password .back{
     display: none;
 }
 
 .mobile .sign-up-container .infield.password {
     transition:  transform .7s linear;
     
 }
 
 
 .mobile .sign-up-container .infield.password .showPass{
 position: absolute;
 right: 10px;
 top: 30%;
 cursor: pointer;
 color: rgb(147, 145, 145);
 display: none;
 }
 
 
 .mobile .sign-up-container   .infield.password.move{
     position: absolute;
 border-radius: 10px;
 height: 300px;
 width: 80%;
 padding-top: 20px;
 margin-top: 130px;
 margin-left: 0;
 background: white;
 transform: translateY(-60px);
 transition:  all .7s ease-in-out;
 /* animation: password forwards;
 animation-duration: .7s; */
 
 }


 .mobile .sign-up-container .infield.password.move .fa-check{
     position: absolute;
     top: 30px;
 }
 
 .mobile .sign-up-container   .infield.password.move .showPass{
     position: absolute;
     top: 35px;
     display: none;
 
 }
 
 
 .mobile .sign-up-container .infield.password.move .password-content{
     display: block;
 }
 
 .mobile .sign-up-container .infield.password.move .back{
     position: absolute;
     left: -40px;
     top:25px;
     background-color: red;
     width: 27px;
     height: 27px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     color: white;
 }





 .mobile .sign-in-container .infield.password input{
    padding-right: 35px;
}

.mobile .sign-in-container .infield.password .showPass{
    position: absolute;
    right: 10px;
    top: 30%;
    cursor: pointer;
    color: rgb(147, 145, 145);
    display: none;
    }








@keyframes password {

    100%{
    transform: translateY(-50px); 
    }
}


@keyframes show {
    0%,50%{
        opacity: 0;
        z-index: 1;
    }
    50.1%,100%{
        opacity: 1;
        z-index: 5;
    }
}




@media screen and (max-width:400px ) and (max-height:700px){
 .mobile .Mocontainer .sign-up-container button{
    margin-top: 0;
 }   
}




   @media screen and (min-height:922px){
    .mobile .Mocontainer .overlay-container .overlay #overlayBtnMo{
    top: 95px;
    }   

    .mobile .right-panel-active .overlay-container .overlay-right{    
    
    transform: translateY(-150px);
    }
    .mobile .right-panel-active .overlay-container .overlay #overlayBtnMo{
        top: 100px;
    }
   

   }

   @media screen and (min-height:1140px){
   .mobile .Mocontainer .overlay-container .overlay .overlay-right{
    top: 250px;
    }    

    .mobile .Mocontainer .overlay-container .overlay #overlayBtnMo{
        top: 110px;
    }
    .mobile .right-panel-active .overlay-container .overlay-right{    
    
        transform: translateY(-190px);
        }
    


   }

   @media screen and (min-height:1208px){
    .mobile .Mocontainer .overlay-container .overlay #overlayBtnMo{
        top: 120px;
    }
   }


   @media screen and (max-width:433px){
    .mobile .Mocontainer .infield.password.move{
/*        margin-right: -20px;
 */       width: 95%;
     
    }
    .mobile .Mocontainer .infield.password.move .back{
        width: 25px;
        height: 25px;
        left: 2px;
        top: 30px;
    }

    .mobile .Mocontainer .infield.password.move .fa-check{
        right: 5px;
    }
 

    .mobile .Mocontainer .infield.password.move input{
        position: absolute;
        width: 80%;
    
    margin-left: 30px;
    }

    .mobile .Mocontainer .infield.password.move .showPass{
        position: absolute;
        right: 45px;
    }
    .mobile .Mocontainer .infield.password.move .requirement-listMo{
        margin-left: 30px;
        margin-top: 50px;
    }
    .mobile .Mocontainer .infield.password.move .requirement-listMo li{
        white-space: nowrap;
    }
   }
   @media screen and (max-width:1000px) {
    .desktop{
        display: none;
     }
    .mobile{
        display: grid;
    }
   }

   @media screen and (max-width:400px) and (max-height:700px) {
    .mobile .Mocontainer .sign-up-container {
        padding-top: 0;
    }
    .mobile .Mocontainer .overlay-container .overlay .overlay-left{
        margin-top: 0px;
    }
   }